@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"Outfit", sans-serif;
  font-size: 15px;
  background-color:hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.main-container{
  background-color: hsl(0, 0%, 100%);
  max-width: 300px;
  height: 480px;
  border-radius: 1.2rem;
  box-shadow: 3px 5px 10px rgba(31, 50, 81, 0.014);
  margin-bottom : 50px;
  margin-top: 50px;
}

.main-container img{
  width: 300px;
  border-radius: 2rem;
  padding: 20px;
}

.main-container h3{
  color: hsl(218, 44%, 22%);
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  padding: 0 20px;
  font-size: 1.3rem;
}

.main-container p{
  color:hsl(220, 15%, 55%);
  text-align: center;
  padding: 0 20px;
  font-weight: 400;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* @media (max-width: 375px), (max-width: 720px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
} */